@inherits LayoutComponentBase
@using MtgInventoryBlazor
@inject MtgInventoryService InventoryService
@inject ISnackbar Snackbar

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code
{
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            // Attach to the event here in Blazor.
            // This does not work from backend code only
            InventoryService.RequestToastToDisplay += (sender, e) =>
            {
                switch (e.Category)
                {
                    case ToastCategory.Error:
                        Snackbar.Add(e.Message, Severity.Error);
                        break;
                    case ToastCategory.Warning:
                        Snackbar.Add(e.Message, Severity.Warning);
                        break;
                    case ToastCategory.Info:
                        Snackbar.Add(e.Message, Severity.Info);
                        break;
                    case ToastCategory.Success:
                        Snackbar.Add(e.Message, Severity.Success);
                        break;
                    default:
                        throw new ArgumentOutOfRangeException();
                }
            };
            
            // TODO: Add bar for database rebuild
            
            // TODO: Add symbol for running query
        }
    }

    // protected override async Task OnInitializedAsync()
    // {
    //
    // }

  
}