@page "/"
@inject MtgInventoryService InventoryService
@using MtgInventoryBlazor

<h1>@totalCount</h1>
Database initialized: @InventoryService.IsDatabaseInitialized

Welcome to your new app.

@code
{
    private string totalCount = "not set";

    private void CalculateCardCount()
    {
        totalCount = InventoryService.Dummy;
    }
    
    protected override async Task OnInitializedAsync()
    {
        CalculateCardCount();
    }
}
