@page "/"
@using MtgDatabase
@inject MtgInventoryService InventoryService

Database initialized: @InventoryService.IsDatabaseInitialized

Welcome to your new app.

<EditForm Model="@_databaseQueryData" OnValidSubmit="@StartSearch">
    <div class="col-12 row">
        <label class="col-2 font-weight-bold">Card Name:</label>
        <InputText class="col-4 form-control" @bind-Value="_databaseQueryData.Name" placeholder="the card name"></InputText>
    </div> 
    <div class="col-12 row">
        <span class="col-2"/>
        <input type="submit" class="form-control col-1 btn-primary" value="Search!"/>
    </div>
</EditForm>


@* <P> *@
@*     <button class="btn btn-danger" @onclick="@(() => InventoryService.Test())">TEST</button> *@
@* </P> *@

@code
{
    private readonly MtgDatabaseQueryData _databaseQueryData = new MtgDatabaseQueryData();  
    

    private void StartSearch()
    {
        // TODO: Implement search
        InventoryService.SearchCardsAsync(_databaseQueryData);
    }
}
