@page "/mtgsets"
@using MtgDatabase
@using System
@using MtgDatabase.Models
@inject MtgInventoryService InventoryService
@inject IMkmMapper MkmMapper

<p>
    MY SETS<br/> TODO: Summary
    <br/>
</p>

<p>
    <div class="row">
        <RadzenGrid AllowFiltering="true"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    FilterMode="FilterMode.Advanced"
                    AllowPaging="false" PageSize="100"
                    AllowSorting="true" Data="@_setData" TItem="SetInfo">
            <Columns>
                <RadzenGridColumn TItem="SetInfo" Property="Code" Title="Code"/>
                <RadzenGridColumn TItem="SetInfo" Property="ParentSetCode" Title="ParentSetCode"/>
                <RadzenGridColumn TItem="SetInfo" Property="Name" Title="Name" Width="250"/>
                <RadzenGridColumn TItem="SetInfo" Property="ReleaseDate" Title="ReleaseDate"/>
                <RadzenGridColumn TItem="SetInfo" Property="IsDigital" Title="IsDigital"/>
                <RadzenGridColumn TItem="SetInfo" Property="CardCount" Title="CardCount"/>
                <RadzenGridColumn TItem="SetInfo" Property="SetType" Title="SetType"/>
                <RadzenGridColumn TItem="SetInfo" Property="UpdateDateUtc" Title="Updated"/>
            </Columns>
        </RadzenGrid>
    </div>
</p>


@code
{

  

    private SetInfo[] _setData = Array.Empty<SetInfo>();

    protected override void OnInitialized()
    {
        _setData = InventoryService.GetAllSets();
    }


    void OnChange(object value, string name)
    {
    // if ("SetFilter".Equals(name))
    // {
    //     _databaseQueryData.SetCode = _setData.FirstOrDefault(s => s.Name == (value?.ToString() ?? ""))?.Code ?? "";
    // }
    // console.Log($"{name} value changed to {value}");
    }
}